body{
    font-family: Arial, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table td {
    padding: 8px;
    vertical-align: top;
}
form {
    border: 3px solid #000; /* Adds a solid border around the form */
    padding: 20px;
    margin: 20px auto;
    max-width: 800px; /* Limits the maximum width of the form */
    box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.2); /* Optional: adds shadow for better visual appearance */
    border-radius: 15px; /* Optional: adds rounded corners */
}

#amountCell, #remarksCell, #uploadCell {
    /* padding: 8px;
    text-align: center; */
    text-align: left;
}

#amount {
    margin-bottom: 10px;
    width: 68%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

#approvalMessage {
    margin-top: 10px;
    font-weight: bold;
}

#comments {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
}

#uploadCell label {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

#uploadCell input[type="file"] {
    width: 200%;
}
tr{
    display: flex;
    align-items: center;
}
tr td{
    flex: 1;
}
